* {
	background:						#1A1B1EE0;
	background-full:				#1A1B1EFF;
	foreground:						#22C55E;
	accent:							#22C55E;
	background-tb:					#1A1B1E;
	border-tb:						#22C55E;
	background-none:				#1A1B1E;
	selected:						linear-gradient(to right, #22C55E30, #22C55E30);
	button:							linear-gradient(#22C55E30);
	button-selected:				linear-gradient(#22C55E30);
	active:							linear-gradient(to right, #1A9E4AFF, #22C55EFF);
	urgent:							#22C55E;
	font:							"Hack Nerd Font 12";
	gap:							8px;
	radius:							0px;
	no0:							#0D0E10;
	re0:							#22C55E;
}
