@define-color no0 #000000;
@define-color no1 #000000;
@define-color no2 #001000;

@define-color re0 #FF0000;
@define-color re1 #550000;
@define-color re2 #220000;

@define-color gr0 #CC0000;
@define-color gr1 #440000;
@define-color gr2 #180000;

@define-color ye0 #FF5555;
@define-color ye1 #330000;
@define-color ye2 #180000;

@define-color bl0 #AA0000;
@define-color bl1 #220000;
@define-color bl2 #001000;

@define-color vi0 #FF0055;
@define-color vi1 #330000;
@define-color vi2 #180000;

@define-color cy0 #DD0000;
@define-color cy1 #220000;
@define-color cy2 #001000;

@define-color wh0 #FF0000;
@define-color wh1 #550000;
@define-color wh2 #220000;

@define-color me0 #006600;
@define-color me1 #220000;
@define-color me2 #001000;

@define-color or0 #FF0000;
@define-color or1 #550000;
@define-color or2 #220000;

@define-color pi0 #FF0055;
@define-color pi1 #440000;
@define-color pi2 #220000;

* {
	font-family: Hack Nerd Font;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 400;
	min-height: 0;
}

window#waybar {
	background: transparent;
	opacity: 1;
}

window#waybar.hidden {
	opacity: 0;
}

#custom-updates,
#custom-music,
#custom-arch,
#workspaces,
#window {
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0 16px;
	color: @re0;
}

#tray,
#custom-brightness,
#language,
#bluetooth,
#custom-gpu-usage,
#custom-wf-recorder,
#custom-updates,
#custom-notifications,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#temperature.cpu,
#temperature.gpu,
#battery,
#backlight {
	padding: 0 16px;
	min-width: 15px;
}

#custom-arrow-left-no1 {
	background-image: url('svg/no1-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}

#custom-arrow-right-no1 {
	background-image: url('svg/no1-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}

#custom-arrow-left-re0 {
	background-image: url('svg/re0-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-right-re0 {
	background-image: url('svg/re0-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-left-gr0 {
	background-image: url('svg/gr0-left.svg');
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arrow-right-gr0 {
	background-image: url('svg/gr0-right.svg');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: @no1;
}

#custom-arch {
	color: @no0;
	background-color: @re0;
	font-weight: bold;
}

#custom-arch:hover {
	color: @no0;
	background-color: @gr0;
}

#workspaces {
	background-color: @no1;
	border: none;
}

#workspaces button {
	border-radius: 0;
	border: none;
	margin: 0;
	min-width: 30px;
	font-weight: bolder;
	color: @re0;
	background: transparent;
}

#workspaces button label {
	font-size: 14px;
	padding: 0 10px;
	color: @re0;
}

#workspaces button.active label {
	color: @gr0;
}

#workspaces button:hover {
	background-color: @re2;
}

#workspaces button:hover label {
	color: @re0;
}

#workspaces button.active:hover {
	background-color: @gr2;
}

#workspaces button.active label {
	color: @gr0;
}

#workspaces button.urgent {
	background-color: @ye0;
}

#workspaces button.urgent label {
	color: @ye2;
}

#clock.time,
#clock.date {
	color: @re0;
	background-color: @no1;
	padding: 0 32px;
}

#clock.time:hover,
#clock.date:hover {
	color: @re0;
	background-color: @re2;
}

#cpu,
#memory,
#temperature,
#temperature.cpu,
#temperature.gpu {
	color: @re0;
	background-color: @no1;
}

#temperature.critical {
	color: @no0;
	background-color: @ye0;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#temperature.cpu:hover,
#temperature.gpu:hover,
#temperature.critical:hover {
	color: @re0;
	background-color: @re2;
}

#network {
	background-color: @no1;
	color: @re0;
}

#network.disconnected {
	color: @wh0;
	background-color: @or0;
}

#network.linked {
	color: @gr0;
	background-color: @no1;
}

#pulseaudio {
	color: @re0;
	background-color: @no1;
}

#pulseaudio.muted {
	color: @re1;
}

#network:hover,
#pulseaudio:hover {
	color: @re0;
	background-color: @re2;
}

#pulseaudio.muted:hover {
	color: @re1;
	background-color: @re2;
}

#custom-music {
	background-color: @gr0;
	color: @no0;
	padding: 0 32px;
	border: none;
}

#custom-notifications {
	background-color: @no1;
	color: @re1;
	font-size: 20px;
}

#custom-notifications:hover {
	color: @re0;
	background-color: @re1;
}

#custom-notifications.dnd-none {
	color: @re1;
}

#custom-notifications.dnd-none:hover {
	color: @re1;
	background-color: @re2;
}

#custom-updates {
	color: @wh0;
	font-size: 20px;
	margin: 0 20px;
}

#custom-updates:hover {
	background-color: @gr1;
}

#custom-wf-recorder {
	color: @re0;
	background-color: @no1;
}

#bluetooth {
	color: @re0;
	background-color: @no1;
}

#language {
	color: @re0;
	background-color: @no1;
}

#custom-brightness {
	background-color: @no1;
}

#custom-brightness:hover {
	background-color: @re1;
}

#custom-brightness.max {
	color: @re0;
}

#custom-brightness.high {
	color: @ye0;
}

#custom-brightness.mid {
	color: @wh0;
}

#custom-brightness.low {
	color: @cy0;
}

#custom-brightness.min {
	color: @re0;
}
#custom-hijri {
	padding: 0 12px;
}

#tray {
	color: @re0;
	background-color: @no1;
}

#custom-wf-recorder:hover,
#bluetooth:hover,
#language:hover {
	color: @re0;
	background-color: @re2;
}

#window {
	color: @no0;
	background-color: @re0;
	padding: 0 32px;
	border: none;
}
